@font-face {
	font-family: Seshat;
	src: url(../font/Seshat.otf) format('opentype');
}

@font-face {
	font-family: Chomp;
	src: url(../font/Chomp.ttf) format('truetype');
}

body {
}
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700);

.font-yanone{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

@font-face {
  font-family: chomp;
  src:url(../font/28dayslater.ttf)  format('truetype');}
@font-face {
  font-family: seshat;
  src:url(../font/Seshat.otf)  format('opentype');}

.font-cursive{
font-family: "Brush Script MT", cursive;
}

.underline{text-decoration:underline;}

.sidelines-double {
  line-height: 0.5;
  text-align: center;

span {
  display: inline-block;
  position: relative;  
}
span:before,
span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  top: 0;
  width: 600px;
}
span:before {
  right: 100%;
  margin-right: 15px;
}
span:after {
  left: 100%;
  margin-left: 15px;
}
}


.sidelines {
  line-height: 0.5;
  text-align: center;

span {
  display: inline-block;
  position: relative;  
}
span:before,
span:after {
  content: "";
  position: absolute;
  height: .25em;
  border-bottom: 1px solid white;
  top: 0px;
  width: 600px;
}
span:before {
  right: 100%;
  margin-right: 15px;
}
span:after {
  left: 100%;
  margin-left: 15px;
}
}



hr.style-eight {
padding: 0;
border: none;
border-top: medium double #333;
color: #333;
text-align: center;
}



hr.sexy_line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

#iphone{
    width: 10em;height: 16em;background-color: #000;
-webkit-border-radius: 0.8em;-khtml-border-radius: 0.8em;-moz-border-radius: 0.8em;
border-radius: 0.8em;display: block;position: relative;overflow: hidden;

    #iphone span {display: block;clear: both;margin-right: auto;margin-left: auto;background-color: #f1f1f1;}
    .earpiece{width: 16%;height: 3%;margin-top: 10%;}
        .screen{width: 80%;height: 65%;margin-top: 10%;}
        .home{width: 1.2em;height: 1.2em;margin-top: 9%;-webkit-border-radius: 1.2em;-moz-border-radius: 1.2em;border-radius: 1.2em;}
}

.brush{
  transform:rotate(45deg);
border-top-left-radius:2.5em;
border-top-right-radius: 2.5em;  
 border-bottom-right-radius: 1.4em; 
   border-bottom-left-radius: 1.4em; 
  border-bottom:45px solid black;
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  border-top:1px solid transparent;
}