
//IMPORTS

  @import "HeightStyleSheet";
  @import "OperandsStyleSheet";
  @import "DecorStyleSheet";
  @import "FontsStyleSheet";

  //IMPORTS
/*  $darkestprimary:#a96e26;
  $darkprimary:#e08820;
  $primary:#d68f00;
  $lightprimary:#fbd66f;
  $lightestprimary:#faebc2;*/
  //MIXINS
  $full:100%;

  $darkestprimary:#a96e26;
  $darkprimary:#c6802e;
  $primary:#d68f00;
  $lightprimary:#fbd66f;
  $lightestprimary:#f5f5f5;

  $darkestalt:#3f4043;
  $darkalt:#555763;
  $alt:#707490;
  $lightalt:rgb(141, 141, 165);
  $lightestalt:rgb(186, 186, 198);

  
  //214, 200, 169
//  rgb(250, 250, 250)

  $slow:all 1s ease-in-out;
  $mid-speed:all .75s ease-in-out;
  $fast:all .5s ease-in-out;
  $faster:all .25s ease-in-out;
  //MIXINS

  //JS ADDED CLASSES//
  .page{transition:$slow;}

  .seg1.kill{display:none;}
  .seg2.kill{display:none;}

  //HOME
  .stripe .text{display:none;}
  .homeEle.stripe .text{display:block;}
  .homEle.portexamples{display:none;}

    //PORTFOLIO
  .portexamples{opacity:0;display:none; }
  .porteg{margin:15px 1%;position:relative;display:inline-block;
            img{width:300px; height:200px;}
            >a.pic{position:absolute;height:200px;width:100%;top:0;left:0;}  

            .porttext{background-color:$darkestalt;overflow:hidden;transition:$slow;
                      h5{color:$lightalt;font-size:1.1rem; margin:0;padding-right:20px;
                        font-family:Arial;text-transform:capitalize;text-shadow:none;}
                      p{text-align:left;color:$lightalt;font-size:1rem; margin:0;padding-right:20px;
                        font-family:Arial;text-transform:initial;}
                      }

                     .checkbox{z-index:5;opacity:0;cursor:pointer;}
                    .checkbox:checked ~ div { height:80px; max-height:100%;min-height:100%;}
                    .morebutton{position: absolute;
                                  background-color:white;
                                right: 0; bottom: 0; margin:0;
                                width: 20px; height: 20px;}
          }

  .portEle.stripe{background-color:$darkalt;min-height:100%;
                       .text, #canvas{opacity:0;} .portexamples{display:block;}}    
  
  .portEle.remove.stripe .portexamples{display:block;}
  .portEle.add.stripe .portexamples{opacity:1;}
  .portEle.add.stripe #canvas{display:none;}

  /*.born
  .kill
  .fadein
  .fadeout*/
                                   


  //ABOUT
  .portEle.aboutEle.stripe .text{display:none;}
  .aboutEle.stripe .text{display:block;}
  .box1.orig{display:block;}
  .box1.alt{display:none;}
  .picwidth{width:150px;}
  .aboutEle.add{>.text{transform: translateY(-90px);} p{opacity:0;}
        .box1.orig{display:none;}
        .box1.alt{display:block;}
            .half1{width:70%}.half2{width:30%;}

  }
  //CONTACT
  .toContact.stripe ~.contactstripe{display:none;} .toContact.stripe{display:block;}
  .slideright.contactstripe{transform:translateX(100%);display:block!important;}

  .aboutEle.stripe{display:block;transform:translateX(-100%);}
  .aboutEle.stripe.add{display:block;transform:translateX(00%);}


  .stripe{transform:translateX(0%);} 
  .stripe.nomove{transform:translate(0%)!important;}
  .contactstripe{transform:translateX(100%);}
  .contactEle.stripe{transform:translateX(-100%);}

 
  .contactEle.stripe.kill{display:none; ~.contactstripe{display:block;transform:translateX(100%)}}
  .contactEle.stripe.add ~.contactstripe{transform:translateX(0%);}
  .contactstripe.remove{transform:translateX(100%);}
  .contactstripe.kill{transform:translateX(100%);display:none!important;}
  .contactEle.seg1, .contactEle.seg2{opacity:0;}

  .contactstripe.remove{display:block;transform:translateX(100%);}


  .card{margin:120px auto;
        border-radius:3px;
        border: 1px solid white;
box-shadow: 0px 9px 19px 5px #323232;
/*unlikely*/   //     background-color: #86651C;
/*unlikely*/   //     background-color: #C2BCB1;
        //background-color: #535461;
/*unlikely*/        //background-image: -webkit-linear-gradient(top, #535461 15%, #1F2136 100%);
        background-image: -webkit-linear-gradient(left bottom, #42434E 0%, #50505E 60%, #2C2C30 90%);
        p,h4,a{margin-top:5px;border:1px solid #f5f5f5;border-left:0;display:block;}
        p{margin:0;padding-left:25px;padding-right:10px;width:190px;
            background-color: rgb(236, 158, 18);
          font-size: 2rem; color: rgb(243, 240, 234);
          -webkit-text-stroke:1px gray;}
        h4{width:200px;font-size: 22px; color: rgb(243, 240, 234);-webkit-text-stroke:1px #777;}

        .hold{margin-top:5px;
              a{display:inline;overflow:hidden;z-index:5;position:relative;padding-right:5px;
                font-size:18px;font-weight:bold;}

                a:after{
                    content: "";position: absolute;top: 0;left: 0;height:100%;width:100%;
                background-color: black;opacity:0;}

                a:hover:after{opacity:.15;}
                
              
              a:hover ~span{left:0; transition:$fast 0s;} span:hover{left:0; transition:$fast 0s;}
                a:hover{color: rgb(40, 42, 90);
                        
                }
               span{padding:0 5px;display:inline;
                    left:-250px;position:relative; transition:$fast 1s;
                    background: rgb(125, 126, 139);color: rgb(228, 228, 228);
                    border: 1px solid gray;
               }
        }
        h4{background-color: rgb(194, 137, 33);padding-left:50px;}
        .email{background-color: rgb(233, 172, 63);padding-left:75px;}
        .linkedin{background-color: rgb(233, 198, 131);padding-left:100px;display:block;}
        .phone{background-color: rgb(231, 211, 176);padding-left:125px;}
        
  }

  //REMOVESEGS
  .highlighted{color:rgb(121, 121, 162)!important;text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);
               &:before{-webkit-filter: drop-shadow(0px 3px 3px #777)!important;
                        -webkit-filter:hue-rotate(-155deg)!important;}
                }

  //.slideoff{transform:translateX(-200%);}
    //JS//

  //GENERAL RULES
p{transition:$slow;}

  .chunk{border-radius:2px;}
  ::selection{color:black; background:gray;}
  body{padding:0; margin:0;position:relative;min-height:100%;
      //fonts

      font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
      
      ul{padding:0; margin:0;}
        li{list-style:none;
           font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
           text-transform:capitalize;
           font-size:.8em;
        }
        h1,h2,h3,h5{font-family: "chomp"; text-shadow: 0 5px 4px rgba(150, 150, 150, 0.9);}
        h4{margin:5px 0;}
        h1{font-size:8em;}h2{font-size:4em;}h5{font-size:4em;}
        p{font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;  
          font-size:1.5rem;  
          text-transform:uppercase;}

             a, a:visited, a:hover, a:active{text-decoration: none;color:inherit; cursor:pointer;
                                             transition:$faster;}
}
 //div{border-bottom:1px solid black;}
   //GENERAL RULES

  //WEBSITE START
  .overlay{background-image: url(../img/vintage-speckles4.png);background-size: 30% 30%;}
  .background{background-color:$lightestprimary;}
  .topmenu{background-color:$lightestprimary;color:$darkprimary;}
  .stripe{background-color:rgba(255, 171, 1, 0.80); color:$lightestprimary}
  .segment{background-color:$lightestprimary; color:$primary}
  .footer{background-color:rgb(48, 48, 48); color:#e0dfdf;}

  .topmenu{
      li{font-size:1.5rem; margin: 0 20px;}
      a{margin:0;}
     a:not(.logo):hover{text-shadow: 1px 1px 3px $primary;-webkit-filter: hue-rotate(-20deg); }
     a:before{-webkit-transition:$faster;}

      .logo{
          img.logo1, img.logo2{transition:all .75s ease-out;transform:rotateZ(0deg);}
            img.logo1{opacity:1;}   img.logo2{opacity:0;bottom:5px;} 
        }
      .logo:hover{
            img.logo1{transform:rotateY(720deg);opacity:0;}
          img.logo2{transform:rotateY(720deg);opacity:1;}
         } 
      }

  .canvas{transition:all 8s ease-in-out;}
  .stripe{min-height:100%; min-height:430px; #canvas{height:122px;}}
  .stripe.homeEle{height:430px!important;}

  .stripe.homeEle .canvas{transform:translateX(0%);}
  .stripe.portEle .canvas{transform:translateX(0%);}
  .stripe.aboutEle .canvas{transform:translateX(45%);}
  .stripe.contactEle .canvas{transform:translateX(0%);}

  .segment{
      h2{
          margin:0;
          &:after{
            background: $darkprimary;
            background: url(../img/testhr.png);
            content: "";
            height: 10px;
            left: 20px;
            position: absolute;
            top: 100px;
            width: 75px;
            border-radius:10px;
            }
        }
      h4{font-size:1.3rem;}
      h5{font-size:1.9rem;margin:5px;}
          }
  .seg1,.seg2{min-height:150%;}
        

.box1 {
    z-index:2;
   background: white;
   padding:20px;
   -moz-border-radius: 5px; 
   -webkit-border-radius: 5px; 
   border-radius: 5px;
   box-shadow: 2px 1px 13px 5px rgba(50, 50, 50, 0.67);
}

.effect2
{
  position: relative;
  z-index: 1;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 10px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.info{h2{margin-bottom:20px;}
      p{margin:0;}
      .vr{width:1px;height:100px;margin:0;position:absolute;top:0;right:0;
          box-shadow: 0 0 8px black;
          &:after{content: '';
display: block;
margin-left: -20px;
width: 20px;
height: 100%;
border-radius: 12px / 125px;
box-shadow: 0 0 8px black;}
      }
}
.quart{height:100%;
       position:relative;
       vertical-align:text-top;
    width:calc(25% - 54px);
       display:inline-block;
       padding:20px 15px;
}

.footer{
    border-radius:4px;
        h3{cursor:default;
            position:absolute;
           bottom:0;
            margin: 5px;
            text-shadow: 0px 3px 3px rgba(150, 150, 150, 0.9);
            i{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
           }
        ul{font-size:1.5rem;
           right:0;
            position:absolute;
            bottom:0;
            margin: 7px 5px;
            li{display:inline;
               padding-left:5px;
               border-left:solid white;
               transition:$faster;
            }
        }
        li:hover{color:$darkprimary;border-color:$darkprimary;}
}

// vertical variation

.vertical {
  display:inline-block;
  margin-top:0px; width:10px; top:-30px;
  position:relative; 
  
  .mask { 
    overflow:hidden; width:20px; height:150px; position:absolute;
    //outline:1px solid pink;
  }
  &.left .mask:after { 
    content:''; 
    display:block; margin-left:-20px;
    width:20px; height:100%;  
    border-radius:12px / 125px;  
    box-shadow:0 0 8px black;
  }
  &.right .mask:before { 
    content:''; 
    display:block; margin-left:20px;
    width:20px; height:100%; 
    border-radius:12px / 125px; 
    box-shadow:0 0 8px black;
  }
}
/*//hoverunderlines
  .hovunder span:before, body .mainmenu span:after {
    width: 20px;
    content: "";
    height: 1px;
    margin: auto;
    text-align: center;
    background: #bfc4c6;
    position: absolute;
    bottom: -14px; }
  .hovunder span:before {
    right: 50%;
    transition: all 0.5s ease-in-out; }
  .hovunder span:after {
    left: 50%;
    transition: all 0.5s ease-in-out; }
  .hovunder a:hover span:before {
    width: 50%;
    transition: all 0.5s ease-in-out; }
  .hovunder a:hover span:after {
    width: 50%;
    transition: all 0.5s ease-in-out; }
  .hovunder span:before, body .contactbar span:after {
    width: 0px;
    content: "";
    height: 2px;
    margin: auto;
    text-align: center;
    background: #bfc4c6;
    position: absolute;
    bottom: -10px; }
  .hovunder span:before {
    right: 50%;
    transition: all 0.5s ease-in-out; }
  .hovunder span:after {
    left: 50%;
    transition: all 0.5s ease-in-out; }*/


.topmenu{
 a{position:relative;
           &:not(.logo)::before{content:"";
    width: 100px;
    height:100px;
    position: absolute;
    bottom: 10px;
    left:-13px;
    background-repeat: no-repeat
        } b{font-weight:normal;}
 }
    #home:before{background-image:url(../img/home.png)}
    #about:before{background-image:url(../img/about.png);}
    #portfolio:before{background-image:url(../img/portfolio1.png);}
    .contact:before{background-image:url(../img/contact.png);}
}

@media only screen and (max-width: 1460px){.porteg{margin:15px 4%;}}
@media only screen and (max-width: 1330px){.porteg{margin:15px 3%;}}
@media only screen and (max-width: 1235px){.porteg{margin:15px 7%;}}
@media only screen and (max-width: 1050px){
    .quart{padding: 20px 5%;width: 37%;}
    .vertical.right.second{display:none;}
    .vertical.right{width:3%;}

    .porteg{margin:15px 5%;transition:$faster;}
    .box1{min-width:150px; h2{font-size:3rem;
             &:after{top: 80px; width: 45px;height:7px;}
                            }
            }
    .aboutEle.add .section1{
    .half1{width:60%!important;margin-left:20px;margin-right:20px;}
    .half2 .box1.alt.second{width:210px;position: absolute;right:0;}}
}
@media only screen and (max-width: 860px){.porteg{margin:15px 2%;}}
@media only screen and (max-width: 750px){
    .topmenu{padding-bottom:80px}
         .topmenu li:not(:nth-of-type(3)){position: relative;
}
        .topmenu{li{margin:0 2%;font-size:1rem;bottom: -70px;left:50px;}
                 b{opacity:0;transition:$fast;}a:hover b{opacity:1;}
        a:before{background-size: 70px 70px;width:70px!important;height:70px!important;
                 bottom:0;left:-5px!important;}
        .logoli{position:absolute;left:0;}
            img{width:80px!important;height:80px!important;}
        }
    .stripe{height:50%;}
    .half1,.half2{width:100%;margin-bottom:50px;}
    .text{margin:0 40px;}
    .box1 h2{font-size:2rem;
                      &:after{top: 60px;}  
     }
        .aboutEle.add .section1{
    .half1{width:80%!important;float:none;.text{min-width:85%;margin-right:2%;margin-left:2%;}}
    .half2{float:none;width: 40%;margin: auto;}
    .box1.alt.second{position: initial!important;}}
}


@media only screen and (max-width: 525px){.footer h3, .footer a{font-size:1rem;}
}
@media only screen and (max-width: 450px){
    .footer h3{position:relative; top:-5px;}
    ul{margin:0 5px;}}
@media only screen and (max-width: 400px){    .porteg{ img{width:100%;height:50%;}
             .porttext{width:100%;}
    }
}

